
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="text-decoration-color:darkcyan">Frequently Asked Questions</h2>

<button class="accordion">Person Banking FAQ</button>
<div class="panel">
    <button class="accordion">1. What is OnlineSBI?</button>

    <p>OnlineSBI is the Internet banking service provided by State Bank of India, India's largest and premier commercial bank.</p>

    <button class="accordion">2. What is special about Internet banking?</button>

    <p>Internet banking is the most convenient way to bank- anytime, any place, at your convenience.</p>

    <button class="accordion">3. I do not have a PC?</button>

    <p>You can access OnlineSBI from any computer that has connectivity to the Internet. But make sure your computer is Malware free. For more details please Click here.</p>

</div>

<button class="accordion">Corporate Banking FAQ</button>
<div class="panel">
    <button class="accordion">What is Corporate Internet Banking?</button>

    <p>Corporate Internet Banking (CINB) of State Bank of India is the channel which facilitates Corporate Customers (any non- individual customer such as firms, companies, trusts, partnerships, proprietorship concerns etc.) to carry out banking activities online anywhere and anytime, aided with the power and convenience of the internet.</p>

    <button class="accordion">How safe/secure is our net banking account?</button>

    <p>The Internet banking portal of SBI, www.onlinesbi.com is a highly secure, verisign certified site with the transaction data traveling encrypted via an SSL medium (256-bit SSL tunnel), the highest level of security on the internet. The advanced EV-SSL Certificate provides evidence of authenticity to the website which safeguards users from accessing through unauthorised sites.</p>

    <button class="accordion">How to access CINB site?</button>

    <p>Visit online banking site of SBI at https://www.onlinesbi.com Click on 'Corporate Banking' caption above login option under CINB section to land on the CINB home page.</p>

</div>

<button class="accordion">FAQ on RTGS/NEFT</button>
<div class="panel">
    <button class="accordion">1. What is OnlineSBI?</button>

    <p>OnlineSBI is the Internet banking service provided by State Bank of India, India's largest and premier commercial bank.</p>

    <button class="accordion">2. What is special about Internet banking?</button>

    <p>Internet banking is the most convenient way to bank- anytime, any place, at your convenience.</p>

    <button class="accordion">3. I do not have a PC?</button>

    <p>You can access OnlineSBI from any computer that has connectivity to the Internet. But make sure your computer is Malware free. For more details please Click here.</p>

</div>







<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
</script>

<style>
    .accordion {
        background-color: #d6f3f0;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #bcfaf4;
        }

        .accordion:after {
            content: '\002B';
            color: #bcfaf4;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

