
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<div class="row" style="align-content:center">
    <div class="col-md-4">
        <div class="card" style="width: 38rem;">
            <img class="card-img-top" src="~/Images/mt.jpg" width="260" height="200" alt="Card image cap" />
            <div class="card-body">


                <p class="card-text" style="text-align:center">

                </p>

                <p><a class="btn btn-success" href="/Customer/Fund_Transfer">Fund_Transfer</a></p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width:38rem;">
            <img class="card-img-top" src="~/Images/ministatemet logo.png" width="260" height="200" alt="Card image cap" />
            <div class="card-body">


                <p class="card-text" style="text-align:center"></p>
                <p><a class="btn btn-success" href="/Customer/MINISTATEMENT">Mini Statement</a></p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 38rem;">
            <img class="card-img-top" src="~/Images/piggybank.jpg" width="260" height="200" alt="Card image cap" />
            <div class="card-body">

                <p class="card-text" style="text-align:center"></p>
                <p><a class="btn btn-success" href="/Customer/VIEWBALANCE">Savings Account</a></p>

            </div>
        </div>

    </div>
</div>
